
#pod-links a{
    font-size: x-large;
    font-weight: 250;
    font-family: 'Open Sans', sans-serif;
    color: white;

}
h3 {
    font-size: x-large;
    font-weight: 250;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#pod-sections section {
    background-color: rgb(245, 214, 214);
    border-radius: 25px;
}

.update-feed{
    background-color:rgb(245, 230, 230);
    border-radius: 25px;
}

.innerbox {
    margin: 20px;
    border: 7px solid rgb(240,180,205);
    border-radius: 25px;
    
}