
#pod-sections ul{
    margin: 10px auto;
    list-style: none;
}

#pod-sections ul>li{
    font-family: 'Open Sans', sans-serif;
    color: white;
    list-style: none;
}

#podcast-list{
    height: auto;
    display: inline-block;
}