#sign-in-pop-up, #sign-up-pop-up{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color:rgba(0,0,0,0.5)
}

.pop-up-content{
    background: rgb(255, 254, 216);
    background: linear-gradient(0deg, rgb(255, 254, 198) 0%, rgb(199, 137, 163) 60%);
    background-repeat: no-repeat;
    margin: 15% auto;
    padding: 25px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
}

#close-btn-sign-in, #close-btn-sign-up{
    float: right;
    color:white;
    font-size: 40px;
    position: relative;
    top: -30px;
    right: -10px;
}

#close-btn-sign-in:hover, #close-btn-sign-up:hover,#close-btn-sign-in:focus, #close-btn-sign-up:focus{
    color: rgb(220,220,220);
    cursor: pointer;
    text-decoration: none;
}

form{
    width: 80%;
    margin: 0 auto;
}

#sign-in-pop-up input, #sign-up-pop-up input{
    border-radius: 20px;
    display: block;
}

label, legend{
    color: white;
    font-weight: 600;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
}

legend{
    text-shadow: 2px 0px 10px rgba(0,0,0,0.6);
    font-size: x-large;
}

.sign-text{
    color: white;
    font-weight: 600;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    display: inline;
    text-align: right;
}

.pop-up-button{
    display: block;
    margin: 40px auto 0;
    width: 50%;
    background-color: rgb(152,189,139);
    color: white;
    text-transform: uppercase;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 107%;
    font-weight: 600;
}

.pop-up-button:hover, .pop-up-button:focus{
    background-color: rgb(123, 158, 108);
    outline:none;
}

ul.social-media-list{
    text-align: center;
}

ul.social-media-list li{
    display:inline-block;
    margin-right: 2vh;
    margin-top: 2vh;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

.sign-in-link{
    color: black;
    font-size: small;
    text-align: right;
    display: inline;
}


.fa {
    padding-top: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-facebook:hover {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-twitter:hover {
    background: #55ACEE;
    color: white;
  }
   
  /* Google */
   
  .fa-google {
    background: rgb(202, 66, 12);
    color: white;
  }    


  .fa-google:hover {
    background: rgb(202, 66, 12);
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.alternative-sign-up{
    margin-top: 20px;
}