body{
    height: 100%;
    background: rgb(255, 254, 216);
    background: linear-gradient(0deg, rgba(255, 254, 198, 0.671) 0%, rgb(199, 137, 163) 60%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.search{
    border-radius: 20px;
    height:35px;
}

.center{
    text-align: center;
    align-self: center;
    align-items: center;
    align-content: center;
}

#header{
    background-color: white;
    min-height: 4rem;
}

#footer{
    margin-top: 5rem;
}

.categories{
    background: rgb(239,210,106);
    opacity: 0.7;
}

#menu{
    list-style: none;
    float: right;
}

#menu li{
    display:inline-block;
    margin-right: 2vh;
    margin-top: 2vh;
    color: rgb(107,107,107);
    font-family: 'Open Sans', sans-serif;
}

#menu a{
    color: rgb(107,107,107);
    font-family: 'Open Sans', sans-serif;
}

#logo{
    margin: 2vh;
    float: left;
}

#logo-icon{
    float: left;
    display: block;
    width: 40px;
}

#logo-text{
    float: left;
    display: block;
    color: rgb(107,107,107);
    font-size: large;
    margin-left: 1vh;
    font-weight: 250;
    font-family: 'Open Sans', sans-serif;
}

#search-form input[type=text]{
    border-radius: 20px;
    height: 50px;
}

.head-category{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 4vw;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-top: 2%;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 2px 0px 10px rgba(0,0,0,0.2);
}

.sub-category{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 0px 10px rgba(0,0,0,0.6);
}

#selling-text{
    margin-top: 5%;
}

#selling-text>h1{
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
}

.podsaint-button{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 107%;
    font-weight: 600;
    border-radius: 20px;
    background-color: rgb(152,189,139);
}

.podsaint-button:hover, .podsaint-button:focus{
    background-color: rgb(123, 158, 108);
}

a.sign-up-button{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 107%;
    font-weight: 600;
}

.sign-up-button{
    width: 250px;
    margin: 2%;
    border-radius: 20px;
    background-color: rgb(152,189,139);
}

.sign-up-button:hover, .sign-up-button:focus{
    margin: 2%;
    background-color: rgb(123, 158, 108);
}


fieldset#main-field{
    background: linear-gradient(0deg, rgba(238, 111, 210, 0.2) 0%, rgba(199, 137, 163, 0.2) 60%);
    background-color: rgba(255, 255, 255, 0.5);
    border-color: white;
    border-radius: 20px;
    margin: 0 auto;
}


#main-field select{
    border-radius: 20px;
}


#itunes-search{
    display: block;
}

#choose-search{
    display: none;
}

.no-result{
    color: white;
    font-weight: 600;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 0px 10px rgba(22, 22, 22, 0.4);
    font-size: x-large;
    text-align: center;
    margin-top: 5%;
}

#podcast-search-results{
    margin: auto auto;
    background-color: rgba(255,255,255,0.2);
    padding: 2px;
    border-radius: 20px;
    text-align: center;
}

#podcast-search-results ul{
    margin: 10px auto 0;
    list-style: none;
}

#podcast-search-results li{
    margin: 10px 2px 0px 2px;
    list-style: none;
    display: inline-block;
}

#podcast-title{
    font-size: 80%;
    text-align: center;
    color: white;
    text-shadow: 2px 0px 10px rgba(22, 22, 22, 0.4);
    background-color: rgba(0,0,0,0.4);
}

#podcast-image{
   margin: auto auto;
   float:center;
   box-shadow: 2px 0px 10px rgba(22, 22, 22, 0.4);
   width: 210px;
   height: 210px;
}

#podcast-holder{
    margin: 0 10px;
    vertical-align: top;
    text-align: center;
    width: 210px;
    height: auto;
    display: inline-block;
}

.podcast-size-210{
    width: 210px;
    height: 210px;
}


.nextArrowBtn{
    position: absolute;
    z-index: 1;
    top: 30%;
    right: 0;
    color: rgba(0, 0, 0, 0.637);
    font-size: 150%;
    
}
.prevArrowBtn{
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 0;
    color: rgba(0, 0, 0, 0.637);
    font-size: 50px;
}

.slick{
    padding: 0;
    margin: 0;
}