<div class="grid-x content">
    <div class="cell small-10 medium-8 large-4 small-offset-1 medium-offset-2 large-offset-4">

        {{#each inputErrors}}
        <ul>
            <li class="errorInput">{{this}}</li>
        </ul>
        {{/each}}

        <section class="content">
            <h2>Update your email address</h2>
            <form class="margin-top" action="/account-settings/update-email" method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <label>New email
                    <input class="search" id="new-email" type="email" name="newEmail">
                </label>
                <label>Confirm email
                    <input class="search" id="confirm-new-email" type="email" name="confirmEmail">
                </label>

                <input id="" class="button podsaint-button" type="submit" value="UPDATE EMAIL ADDRESS">
            </form>
        </section>

        <section class="content">
            <h2>Update your password</h2>
            <form class="margin-top" action="/account-settings/update-passsword" method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <label>New password
                    <input class="search" id="new-password" type="password" name="newPassword">
                </label>
                <label>Confirm New password
                    <input class="search" id="confirm-new-password" type="password" name="confimPassword">
                </label>

                <input id="" class="button podsaint-button" type="submit" value="UPDATE PASSWORD">
            </form>
        </section>

        <section class="content">
            <h2>Delete Account</h2>
            <p>Warning! This action cant be undone.</p>
            <form class="margin-top" action="/account-settings/delete-account" method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <input id="delete-account-btn" class="button podsaint-button" type="submit" value="DELETE ACCOUNT">
            </form>
        </section>
    </div>
</div>