<div class="grid-x content">
    <div class="cell small-10 large-8 medium-10 large-offset-2 medium-offset-1 small-offset-1">

        {{#each inputErrors}}
        <li class="errorInput">{{this}}</li>
        {{/each}}


        {{>add-to-list-form}}
        {{>create-new-list-form}}


        {{>podcast-information}}
    </div>
</div>