<div class="grid-x">
<div class="gird-x cell medium-10 medium-offset-1 review">
    {{>my-reviews}}
</div>
<div class="block grid-x cell medium-10 medium-offset-1 review">
    <a href="?amount=all" class="right">Load All</a>
    <a href="?amount={{amount}}">Load More</a>
</div>
</div>
