<div class="grid-x">
    <div class="cell medium-8 medium-offset-2">
        <h1 class="head-text">{{model.category}}</h1>
        {{>search-field}}
    </div>
</div>
<div class="grid-x">
    <div class="cell small-10 medium-6 small-offset-1 medium-offset-3">
        <ul>
            {{#each model.categoryLists}}
            <li>
                <h2 class="sub-text">{{category}}</h2>
                <section id="slideshow" class="cell small-8 center">
                    <ul id="podcast-section" class="slick">
                        {{#each subCategories}}
                        <li>
                            {{>podcast-figure}}
                        </li>
                        {{/each}}
                    </ul>
                </section>
            </li>
            {{/each}}
        </ul>
    </div>
</div>