<div class="grid-x">

    <div class="cell small-12 medium-10 large-8 small-offset-0 medium-offset-1 large-offset-2">
        <ul id="pod-links" class="menu align-center">
            <li><a id="your-podcasts-link" href="#your-podcasts">My Podcasts</a></li>
            <li><a id="your-reviews-link" id="#your-reviews">My Reviews</a></li>
        </ul>
    </div>


    <div id="podcast-lists-section"
        class="cell small-10 medium-8 large-8 small-offset-1 medium-offset-2 large-offset-2">

        <section id="your-podcasts" class="cell">
            <div class="grid-x">
                <div class="cell">
                    <h1>My Podcasts</h1>
                    {{#if playlists}}
                    {{#each playlists}}
                    <li>
                        <div class="grid-x">
                            <div class="cell small-11">
                                <h2 class="sub-text no-margin left">{{playlistName}}</h2>
                            </div>
                            <div class="cell small-1">
                                <a class="no-margin right" href="/{{playlistName}}/edit"><i class="fa fa-edit"></i></a>
                            </div>
                        </div>
                        {{#if podcastInfo.[0]}}
                        <section id="slideshow" class="cell small-8 center">
                            <ul id="podcast-section" class="slick">
                                {{#each podcastInfo}}
                                <li>
                                    {{>podcast-figure}}
                                </li>
                                {{/each}}
                            </ul>
                        </section>
                        {{else}}
                        <p>Empty playlist</p>
                        {{/if}}
                    </li>
                    {{/each}}
                    {{else}}
                    <h1>You don't have any playlists</h1>
                    {{/if}}
                </div>
            </div>
        </section>

        <section id="your-reviews" class="cell">
            {{>my-reviews}}
            <div class="grid-x">
                <div class="cell large-12">
                    <a class="buttons" href="my-review/all">View more reviews</a>
                </div>
            </div>
        </section>

    </div>
</div>
<!--
<div class="grid-x">
    <div class="cell small-10 medium-8 large-6 small-offset-1 medium-offset-2 large-offset-3">
        <h1 class="head-text">Updates</h1>
    </div>
    <div class="update-feed cell small-10 medium-8 large-6 small-offset-1 medium-offset-2 large-offset-3">
        <div class="innerbox">
            <h1> NICE</h1>

        </div>

    </div>

</div>
-->