<div class="grid-x">
    <div class="cell">
        <h1 class="head-text">Keep track of your listens.</h1>
        <h1 class="head-text">Find your new favorite podcast.</h1>
        <h1 class="head-text">Share and discuss with friends.</h1>
    </div>
    <div class="cell center">
    </div>
    <div class="cell center">
        <a href="/signup" id="sign-up" class="button sign-up-button">Sign Up - It's free</a>
    </div>

    {{>sign-up-pop-up}}
    <div class="cell medium-8 medium-offset-2">
        <h2 class="sub-text">Popular podcasts</h2>
        <section id="slideshow" class="cell small-8 center">
            <ul id="podcast-section" class="slick">
                {{#each mainPodcasts}}
                <li>
                    {{>podcast-figure}}
                </li>
                {{/each}}
            </ul>
        </section>
    </div>
</div>