<div class="grid-x">
    <div id="selling-text" class="cell">
        <h1>Keep track of your listens.</h1>
        <h1>Find your new favorite podcast.</h1>
        <h1>Share and discuss with friends.</h1>
    </div>
    <div class="cell center">
        <a id="sign-up" class="button sign-up-button">Sign Up - It's free</a>
    </div>
</div>
{{>sign-up-pop-up}}