<div class="grid-x content">

    <div class="cell small-10 large-8 medium-10 large-offset-2 medium-offset-1 small-offset-1">
        
        <!--Pod-info section-->
        {{>podcast-information}}
        {{>list-pop-up}}
        <div class="grid-x">
            <div class="cell">
                <a href="/podcast/{{model.collectionId}}/write-review" class="buttons">Write a review</a>
            </div>
        </div>

        {{#if model.reviews}}

        <div class="grid-x">
            <div class="cell large-6 headers">
                <h1>Reviews</h1>
            </div>
        </div>

        <div class="grid-x">
            {{#each model.reviews}}
            <div class="cell review">
                {{>review}}
            </div>
            {{/each}}
        </div>

        <div class="grid-x">
            <div class="cell large-12">
                <a class="buttons">View more reviews</a>
            </div>
        </div>

        {{/if}}


        <div class="grid-x">
            <div class="cell large-12">
                <h1>Similar Podcasts</h1>
            </div>
            <section id="slideshow" class="cell small-12 center">
                <ul id="podcast-section" class="slick">
                    {{#each model.podcastsInSameCategory}}
                    <li>
                        {{>podcast-figure}}
                    </li>
                    {{/each}}
                </ul>
            </section>
        </div>
    </div>
</div>