<div class="grid-x">
    <div class="cell medium-8 medium-offset-2">
        <h1 class="head-text">{{category}}</h1>
        {{>search-itunes}}
    </div>
</div>
<div class="grid-x">
    <section class="cell medium-8 medium-offset-2">
        {{#if result}}
        <h1 class="head-text">Results</h1>
        <ul id="podcast-section">
            {{#each result}}
            <li>
                {{>podcast-figure}}
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p class="no-result">...No result found...</p>
        {{/if}}
    </section>
</div>