<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--jQuery and slick-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/slick.js"></script>

    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css"
        integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0= sha384-wAweiGTn38CY2DSwAaEffed6iMeflc0FMiuptanbN4J+ib+342gKGpvYRWubPd/+ sha512-QHEb6jOC8SaGTmYmGU19u2FhIfeG+t/hSacIWPpDzOp5yygnthL3JwnilM7LM1dOAbJv62R+/FICfsrKUqv4Gg=="
        crossorigin="anonymous">

    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/js/foundation.min.js"
        integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk= sha384-KzKofw4qqetd3kvuQ5AdapWPqV1ZI+CnfyfEwZQgPk8poOLWaabfgJOfmW7uI+AV sha512-0gHfaMkY+Do568TgjJC2iMAV0dQlY4NqbeZ4pr9lVUTXQzKu8qceyd6wg/3Uql9qA2+3X5NHv3IMb05wb387rA=="
        crossorigin="anonymous"></script>

    <!--Styling  CSS -->
    <link rel="stylesheet" href="/css/styling.css" type="text/css">

    <!-- Podsaint Clientside JavaScript -->
    <script src="/js/timezone-converter.js"></script>
    <script src="/js/sign-up-pop-up.js"></script>
    <script src="/js/sign-in-pop-up.js"></script>
    <script src="/js/categories-pop-up.js"></script>
    <script src="/js/search-option.js"></script>
    <script src="/js/feed.js"></script>
    <script src="/js/pod-info.js"></script>
    <script src="/js/add-to-list-pop-up.js"></script>

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--meta http-equiv="X-UA-Compatible" content="ie=edge"-->

    <title>Podsaint</title>
</head>

<body>
    <header id="header">
        <div class="grid-x cell">
            <div id="logo">
                <a href="/"><img id="logo-icon" src="/images/Podsaint_logo.png"></a>
                <div id="logo-text">Podsaint</div>
            </div>
            <form class="search-menu" method="GET" action="/search/itunes">
                <input name="searchText" class="search" type="text" placeholder="Search...">
            </form>
            <div class="grid-x cell">
                <nav id="menu" class="cell">
                    <ul class="cell">
                        {{#if loggedIn}}
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li>
                            <a href="/account-settings">Settings</a>
                        </li>
                        <li>
                            <form action="/signout" method="POST">
                                <input class="logout-button nothing" type="submit" value="Sign Out" />
                            </form>
                        </li>
                        </li>
                        {{else}}
                        <li>
                            <a id="sign-in" href="/signin">Sign In</a>
                        </li>
                        {{/if}}
                        <li>
                            <a href="#" id="categories-button">Categories &#x25BC;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="grid-x">
            <div id="categories-content" class="cell">
                <ul>
                    {{#each categories}}
                    <li><a href="/category/{{id}}">{{category}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </header>
    <main>
        {{{body}}}
        {{>sign-in-pop-up}}
    </main>
    <footer id="footer">

    </footer>
</body>

</html>