<div class="cell small medium-4">

    <div class="cell">
        <p class="no-margin">Production Quality:</p>
    </div>

    <div class="cell">
        <fieldset class="star-div">
            <input class="star star-5-pq" id="star-5-pq" type="radio" name="productionQuality" value="5" />
            <label class="star star-5-pq" for="star-5-pq"></label>
            <input class="star star-4-pq" id="star-4-pq" type="radio" name="productionQuality" value="4" />
            <label class="star star-4-pq" for="star-4-pq"></label>
            <input class="star star-3-pq" id="star-3-pq" type="radio" name="productionQuality" value="3" />
            <label class="star star-3-pq" for="star-3-pq"></label>
            <input class="star star-2-pq" id="star-2-pq" type="radio" name="productionQuality" value="2" />
            <label class="star star-2-pq" for="star-2-pq"></label>
            <input class="star star-1-pq" id="star-1-pq" type="radio" name="productionQuality" value="1" />
            <label class="star star-1-pq" for="star-1-pq"></label>
        </fieldset>
    </div>

</div>


<div class="cell small medium-4">

    <div class="cell">
        <p class="no-margin">Topic Relevance:</p>
    </div>

    <div class="cell">
        <fieldset class="star-div">
            <input class="star star-5-hr" id="star-5-hr" type="radio" name="topicRelevenceRating" value="5" />
            <label class="star star-5-hr" for="star-5-hr"></label>
            <input class="star star-4-hr" id="star-4-hr" type="radio" name="topicRelevenceRating" value="4" />
            <label class="star star-4-hr" for="star-4-hr"></label>
            <input class="star star-3-hr" id="star-3-hr" type="radio" name="topicRelevenceRating" value="3" />
            <label class="star star-3-hr" for="star-3-hr"></label>
            <input class="star star-2-hr" id="star-2-hr" type="radio" name="topicRelevenceRating" value="2" />
            <label class="star star-2-hr" for="star-2-hr"></label>
            <input class="star star-1-hr" id="star-1-hr" type="radio" name="topicRelevenceRating" value="1" />
            <label class="star star-1-hr" for="star-1-hr"></label>
        </fieldset>
    </div>

</div>

<div class="cell small medium-4">

    <div class="cell">
        <p class="no-margin">Overall Rating:</p>
    </div>

    <div class="cell">
        <fieldset class="star-div">
            <input class="star star-5-or" id="star-5-or" type="radio" name="overallRating" value="5" />
            <label class="star star-5-or" for="star-5-or"></label>
            <input class="star star-4-or" id="star-4-or" type="radio" name="overallRating" value="4" />
            <label class="star star-4-or" for="star-4-or"></label>
            <input class="star star-3-or" id="star-3-or" type="radio" name="overallRating" value="3" />
            <label class="star star-3-or" for="star-3-or"></label>
            <input class="star star-2-or" id="star-2-or" type="radio" name="overallRating" value="2" />
            <label class="star star-2-or" for="star-2-or"></label>
            <input class="star star-1-or" id="star-1-or" type="radio" name="overallRating" value="1" />
            <label class="star star-1-or" for="star-1-or"></label>
        </fieldset>
    </div>

</div>
