<div id="create-new-list">
    <form action="/podcast/{{collectionId}}/create-list" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <h2>Create a new list</h2>
        <label>
            Playlist name
            <input class="search" id="input-listname" type="text" name="playlistName">
        </label>
        <p id="list-input-error"></p>
        <input id="create-new-list-btn" class="button podsaint-button" type="submit" value="Create and add">
    </form>
</div>