<div id="list-pop-up" class="grid-x">
    <div class="cell small-10 medium-8 large-4 small-offset-1 medium-offset-2 large-offset-4">
        <div class="pop-up-content">
            <span id="close-btn-add-to-list">&times;</span>
            {{>add-to-list-form}}
            <a id="create-new-list-link">Or create a new list</a>
            {{>create-new-list-form}}
        </div>
    </div>
</div>