<figure id="podcast-holder">
    <a href="../../podcast/{{collectionId}}"><img id="podcast-image" class="podcast-size-210" src="{{artworkUrl600}}"></a>
    <!--<figcaption id="podcast-title">{{collectionName}}</figcaption>-->
</figure>