<section class="ratings">
    <div class="grid-x cell">

        {{#with tone}}

        <div id="showcase-tone" class="cell">
            <div class="rating-text small">{{precentage}}% of people rated this as</div>
            <div class="rating-text">{{mostPicked}}</div>
        </div>

        {{/with}}

    </div>

    <div class="review-box grid-x">

        {{#with average}}
        <div class="cell small medium-4">
            <div class="cell small-6 rating-text">Overall</div>
            <div class="rating-text"> {{#rating overall}}{{/rating}}</div>
        </div>

        <div class="cell small medium-4">
            <div class="cell small-6 rating-text">Topic Relevance</div>
            <div class="cell small-6">{{#rating topic}}{{/rating}}</div>
        </div>


        <div class="cell small medium-4">
            <div class="cell small-6 rating-text">Production Quality</div>
            <div class="cell small-6">{{#rating quality}}{{/rating}}</div>
        </div>
        {{/with}}

    </div>

</section>