<section class="ratings">
    <div class="grid-x cell">


        <div id="showcase-tone" class="cell">
            <div class="rating-text small">Tone of the podcast:</div>
            {{#if comedy_rating}}
            <div class="rating-text"> Comedy/Relaxed </div>
            {{else}}
            <div class="rating-text"> Drama/Serious </div>
            {{/if}}
        </div>


    </div>

    <div class="review-box grid-x">

        <div class="cell small medium-4">
            <div class="cell small-6 rating-text">Overall</div>
            <div class="rating-text"> {{#rating overall_rating}}{{/rating}}</div>
        </div>

        <div class="cell small medium-4">
            <div class="cell small-6 rating-text">Topic Relevance</div>
            <div class="cell small-6">{{#rating topic_relevence_rating}}{{/rating}}</div>
        </div>


        <div class="cell small medium-4">
            <div class="cell small-6 rating-text">Production Quality</div>
            <div class="cell small-6">{{#rating production_quality_rating}}{{/rating}}</div>
        </div>

    </div>

</section>