<div class="reviews">
    <p id="name-text">Johan Kantola</p>

    {{>review-box}}

    <section class="review-box">
        <p>{{review_text}} <a href="#">...read more</a></p>
    </section>

    

</div>