<legend>Search on:</legend>
<div class="grid-x">
    <div id="choose-search">
        <a id="podsaint-search-button" class="button podsaint-button">Podsaint</a>
        <a id="itunes-search-button" class="button podsaint-button">Itunes</a>
    </div>
</div>
{{>search-podsaint}}
{{>search-itunes}}