<div id="sign-in-pop-up" class="grid-x">
    <div class="cell small-10 medium-8 large-4 small-offset-1 medium-offset-2 large-offset-4">
        <div class="pop-up-content">
            <span id="close-btn-sign-in">&times;</span>
            {{>sign-in-form}}
            <div class="sign-in-link sign-text">
                Don't have an account?
                <a id="sign-up-alternative">Sign up</a>
            </div>
        </div>
    </div>
</div>