<script src="/js/sign-in-pop-up.js"></script>
<link rel="stylesheet" href="/css/pop-up.css" type="text/css">
<div id="sign-in-pop-up" class="grid-x">
    <div class="cell small-10 medium-8 large-4 small-offset-1 medium-offset-2 large-offset-4">
        <div class="pop-up-content">
            <span id="close-btn">&times;</span>
            <form>
                <label>
                    Username
                    <input type="text">
                </label>
                <label>
                    Password
                    <input type="password">
                </label>
                <input class="button pop-up-button" type="button" value="SIGN IN">
            </form>
            <label class="center alternative-sign-up">
                Or sign in using
                <ul class="social-media-list">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-google"></a></li>
                </ul>
            </label>
        </div>
    </div>
</div>