<div id="sign-up-pop-up" class="grid-x">
    <div class="cell small-10 medium-8 large-4 small-offset-1 medium-offset-2 large-offset-4">
        <div class="pop-up-content">
            <span id="close-btn-sign-up">&times;</span>
            {{>sign-up-form}}
            <div class="sign-in-link sign-text">
                Already have an account?
                <a id="sign-in-alternative">Sign in</a>
            </div>
        </div>
    </div>
</div>